
/*testtest*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b84635;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







/*Logo l page*/


.petitlogo {height: 200px; width: 280px;   }



/*Navbar*/


.barre {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-top: 30px;
  padding: 0 35px;
  margin-left:0px;
  
}


.Navbarr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #212E53, #4A919E); /* Dégradé harmonieux */
  color: white;
  padding : 0;
  border-radius: 20px;
  width: 800px;
  margin-right: 320px;
}

.Navbarr td a,

.Navbarr td button {
  color: white; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.Navbarr td:hover {
  background-color:#212E53 ;border-radius: 20px; 
}

.Navbarr td {
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.Navbarr td:nth-of-type(5){background-color:#212E53;  border-radius: 20px; color: white; background-size:contain;}


/*Tunisian Startup*/
/*4d53bf*/

#text {
  background: linear-gradient(330deg, rgb(251, 251, 251), #4A919E); /* Dégradé souhaité */
  -webkit-background-clip: text; /* Appliquer le dégradé au texte */
  -webkit-text-fill-color: transparent; /* Rendre le texte transparent */
  display: inline-block; /* Nécessaire pour que le clipping fonctionne */
  font-size: 5rem; /* Ajustez la taille selon vos besoins */
  font-weight: bold; /* Optionnel pour un texte en gras */
  background-color: transparent; /* Assurez-vous que le fond est transparent */
  margin-top: 50px; margin-left: 460px ; font-size:120px; text-align: center;line-height: 150px;
  font-family: 'Courier New', Courier, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin-top: 100px;margin-bottom: 300px;
}









/*Footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 80px;
  background: linear-gradient(to top, #4A919E, #212E53); /* Dégradé harmonieux */ /* Semi-transparent for better blur visibility */
  box-shadow: 0 -4px 8px  #4A919E;
  border-radius: 20px;

}



.nav, .info {
  color: #f0f0f0;
  border-collapse: collapse;
}

.info caption, .nav caption {
  color:#212E53;
  font-size: 1.6rem;
  font-family: 'Georgia', serif;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
}

.info td, .nav td {
  padding: 8px 10px;
  font-size: 1rem;
  color: white;
}

.info td:hover, .nav td:hover {
  color: #CE6A6B;
  cursor: pointer;
  transition: color 0.3s;
}

.imgg {width: 500px ; height: 150px;padding-top: 50px;}









/*LOGIN*/


@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');




form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.log {
  width: 90%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 2rem; 
  background: linear-gradient(to right, #ffffff, #4e30d4); /* Dégradé harmonieux */ /* Semi-transparent for better blur visibility */
  backdrop-filter: blur(10px); 
  border-radius: 15px; 
  box-shadow: 0 4px 20px #4A919E; margin-left: 560px; margin-top: 100px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    width: 100%; /* Make form take full width */ 
}

input[type="text"],
input[type="password"],
button,
input[type="email"],
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 18px; 
    padding: 0.75rem; /* Increased padding for better touch targets */
    border-radius: 5px; /* Rounded corners */
    width: calc(100% - 1rem); /* Adjust width for padding */
    margin: 0.5rem 0; /* Add margin between inputs */
    border: 1px solid #ddd; /* Light border */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus */
    background-color: rgba(255, 255, 255, 0.8); /* Slightly opaque background for inputs */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: dodgerblue; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 153, 255, 0.5); /* Focus effect */
}

label,
button {
    margin-top: 1rem;
    width: 100%; /* Make buttons take full width */
}

button {
    background-color: var(--button-bg);
    color: var(--primary-color);
    padding: 0.75rem; /* Increase button padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

button:hover {
    background-color: var(--button-hover-bg); /* Change background on hover */
    transform: translateY(-2px); /* Slight lift effect */
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: var(--instruction-bg);
  color: var(--instruction-color);
  padding: 0.5rem; /* Increased padding for better readability */
  position: relative;
  bottom: -10px;
  width: 100%; /* Full width for instructions */
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

/* Validation Messages */
.valid {
    color: var(--valid-color);
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

#uidnote,#emailnote,#pwdnote,#confirmnote {
    background-color: #CE6A6B;
    color: var(--error-color);
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px; /* Rounded corners for error messages */
}

.line {
    display: inline-block;
}


/* Page CV Submission */
.cv-submission {
  background: linear-gradient(to right, #BED3C3, #212E53); /* Dégradé harmonieux */ /* Semi-transparent for better blur visibility */
  padding: 40px;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0 6px 15px #BED3C3;
  max-width: 400px;
  max-height: 620px ;
  animation: fadeInUp 1s ease-out;
}


.cv-submission h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff; /* Couleur noire par défaut */
  animation: slideInFromTop 0.7s ease-out;
}



.cv-submission form {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.cv-submission label {
  font-size: 1em;
  
}

.cv-submission input[type="text"],
.cv-submission input[type="email"],
.cv-submission input[type="file"] {
  border: 0.5px solid #0b86f1;
  border-radius: 10px;
  font-size: 1em;
  transition: all 0.3s ease;
}

.cv-submission input[type="text"]:focus,
.cv-submission input[type="email"]:focus,
.cv-submission input[type="file"]:focus {
  border-color: #082647;
  transform: scale(1.02);
}

.cv-submission button {
  background: linear-gradient(45deg, #4788eb, #FAF2EA);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cv-submission button:hover {
  background: linear-gradient(45deg, #1b0ce9, #175cdd);
  transform: scale(1.05);
}

.cv-submission .back-btn {
  background: linear-gradient(45deg, #3216cf, #FAF2EA);
  color: #007bff;
  border: none;
  border-radius: 30px;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.cv-submission .back-btn:hover {
  background: linear-gradient(45deg, #1518da, #5b2ec5);
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  from {
      transform: translateY(-30px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}


/* Page JobList */



/* jobs.css */

.job-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes fixes */
  gap: 20px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}


.job-list button {
  background-color: #212E53; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte */
  border: 1px solid #ddd; /* Bordure autour du bouton */
  padding: 8px 20px; /* Espace autour du texte (ajusté) */
  font-size: 1rem; /* Taille du texte */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur */
  display: inline-block; /* Empêche l'étalement du fond */
  white-space: nowrap; /* Empêche le texte de se casser sur plusieurs lignes */
  text-align: center; /* Centre le texte à l'intérieur */
  transition: background-color 0.3s ease; /* Transition pour l'effet au survol */
}

.job-list button:hover {
  background-color: #0056b3; /* Couleur de fond lors du survol */
}

.job-card {
  margin-top: 100px;
  background: linear-gradient(145deg, #212E53, #4A919E);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.job-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.job-card h2 {
  font-size: 1.6rem;
  margin: 0;
  color: #F1F1F1;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
}

.job-card .company {
  font-size: 1.2rem;
  color: #FFD700;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
}

.job-card .location {
  font-size: 1rem;
  color: #F5F5F5;
  margin-top: 10px;
}

.job-card .description {
  font-size: 1rem;
  margin-top: 10px;
  color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}

.apply-button {
  background: linear-gradient(145deg, #FFA500, #FF8C00);
  color: white;
  padding: 12px 24px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease, transform 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.apply-button:hover {
  background: linear-gradient(145deg, #FF7F00, #FF6F00);
  transform: scale(1.05);
}


/* Login */

/* Style du cadre du bouton */
.button-main-page {
  background-color: #ffffff;  /* Fond blanc pour le bouton */
  color: #4CAF50;             /* Couleur du texte */
  padding: 12px 25px;         /* Espacement autour du texte */
  border: 2px solid #4CAF50;  /* Bordure solide verte */
  border-radius: 30px;        /* Coins très arrondis */
  cursor: pointer;           /* Curseur pointeur au survol */
  font-size: 18px;            /* Taille de police */
  font-weight: bold;          /* Police en gras */
  text-transform: uppercase;  /* Texte en majuscules */
  transition: all 0.4s ease;  /* Transition fluide pour toutes les propriétés */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);  /* Ombre légère pour le bouton */
}

/* Effet de survol - Changement de couleur et ajout de l'ombre */
.button-main-page:hover {
  background-color: #4CAF50;  /* Fond vert au survol */
  color: white;               /* Couleur du texte devient blanche */
  transform: scale(1.05);      /* Légère augmentation de la taille */
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);  /* Ombre plus forte au survol */
}

/* Effet dynamique lorsqu'il est actif (au clic) */
.button-main-page:active {
  background-color: #388E3C;  /* Couleur plus sombre lors du clic */
  transform: scale(0.98);      /* Réduction lors du clic */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);  /* Ombre réduite lors du clic */
}

/* Ajout d'un fond dégradé dans le cadre */
.button-main-page:hover {
  background-image: linear-gradient(to right, #4CAF50, #45a049);  /* Dégradé de vert au survol */
}

/* Ajout de décoration au bouton pour l'effet hover */
.button-main-page {
  border: 2px solid #4CAF50;
  padding: 12px 25px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button-main-page:hover {
  transform: translateY(-5px);  /* Légère élévation au survol */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  /* Ombre plus grande */
}












/* Style pour le menu horizontal */
table {
  width: 100%;
}

.horizontal-item {
  padding: 10px;
  text-align: center;
}

.menu-icon {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}



/* Conteneur de l'icône ☰ et du menu déroulant */
.menu-container {
  position: relative; /* Positionnement relatif pour que le menu soit positionné par rapport à cet élément */
  display: inline-block; /* Assure que l'icône et le menu sont dans un flux cohérent */
}

/* Icône ☰ */
.menu-icon {
  cursor: pointer; /* Change le curseur sur l'icône */
}

/* Menu déroulant */
.vertical-menu {
  position: absolute; /* Positionne le menu par rapport à son conteneur parent */
  top: 100%; /* Place le menu directement sous l'icône */
  left: 0; /* Aligne le menu à gauche de l'icône */
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  opacity: 0; /* Menu caché par défaut */
  visibility: hidden; /* Menu caché par défaut */
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* Transition pour rendre le menu visible */
}

/* Lorsque le menu est visible */
.vertical-menu.show {
  opacity: 1; /* Menu visible */
  visibility: visible; /* Rendre visible */
  transition: opacity 0.3s ease; /* Transition fluide pour le menu */
}

/* Style des éléments du menu */
.vertical-item {
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.vertical-item a, .vertical-item button {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: block;
}

.vertical-item a:hover, .vertical-item button:hover {
  background-color: #f0f0f0;
  color: #007bff;
}






/* AboutUs.css */
.about-us {
  position: relative; /* So the content is above the NetworkBackground */
  z-index: 1; /* Make sure it's above the background */
  color: #fff; /* Text color */
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(135deg, #212E53, #4A919E); /* Gradient overlay */
  border-radius: 15px; /* Rounded corners for a softer look */
  box-shadow: 0 8px 40px #212E53; /* Deeper shadow for a floating effect */
  animation: fadeIn 2s ease-out; /* Fade-in animation */
  margin-top: 100px;
}

/* Headings */

.about-us h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  animation: slideIn 1s ease-out; /* Animation to slide in */
  color: #00aaff; /* Highlighting headings in blue */
}

/* Slide-In Animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Text content */
.about-us p,
.about-us ul {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
  animation: fadeIn 2s ease-out; /* Fade-in animation for text */
}

/* Animation for list items */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-us ul {
  list-style-type: none;
  padding-left: 0;
}

.about-us li {
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}

/* Hover effect on list items */
.about-us li:hover {
  transform: scale(1.05);
  color: #00aaff; /* Change text color on hover */
}

/* Founder Section */
.founders {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  flex-wrap: wrap; /* Allow founders to stack on smaller screens */
}

.founders div {
  text-align: center;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg); /* Initial 3D perspective */
  transition: transform 0.4s ease-in-out; /* Smooth transition for hover */
}

.founders div:hover {
  transform: perspective(1000px) rotateY(15deg); /* 3D effect on hover */
}

.founders img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 5px solid transparent;
  background-clip: padding-box;
}

.founders div:hover img {
  transform: scale(1.1); /* Slight zoom effect on hover */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4); /* Enhance shadow on hover */
}

/* Gradient Border */
.founders img {
  border: 5px solid transparent;
  background-image: linear-gradient(45deg, #00aaff, #ff00aa);
  background-clip: border-box; /* Make sure gradient border appears */
}

.founders p {
  font-size: 1.2rem;
  color: #00aaff; /* Blue color for names */
  font-weight: bold;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.founders div:hover p {
  color: #ff00aa; /* Change color to pink on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .founders {
    flex-direction: column;
    align-items: center;
  }

  .about-us {
    padding: 20px;
  }

  .about-us h1,
  .about-us h2 {
    font-size: 1.8rem;
  }

  .founders img {
    width: 140px;
    height: 140px;
  }
}


/* ajustement de navbar dans careers et about us */

.AboutusNavbar .Navbarr, .CareersNavbar .Navbarr,.EventPageNavbar .Navbarr {
  margin-left: auto; 
  margin-right: auto;
  margin-top: -140px;
  display: flex;
 
}


/* Overall event page container */
.event-page-container {
  padding: 20px;
}

/* Event page title */
.event-page-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #F1F1F1;
}

/* Grid layout for events */
.event-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Card styling for each event */
.event-card {
  background: linear-gradient(145deg, #212E53, #4A919E);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.event-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

/* Event title styling */
.event-title {
  font-size: 1.6rem;
  margin: 0;
  color: #F1F1F1;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
}

/* Event date, location, and description styling */
.event-date, .event-location, .event-description {
  font-size: 1rem;
  color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

/* Button styling */
.participate-button {
  background-color: #212E53; /* Button background color */
  color: white; /* Button text color */
  border: 1px solid #ddd; /* Border around the button */
  padding: 8px 20px; /* Padding around the text */
  font-size: 1rem; /* Button text size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  display: inline-block; /* Prevent button from stretching */
  white-space: nowrap; /* Prevent text from wrapping */
  text-align: center; /* Center text inside the button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.participate-button:hover {
  background-color: #0056b3; /* Hover effect color */
}

/* Styling for the search input */
.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}



/* advice */

/* Style global */
.Advice {
  font-family: Arial, sans-serif;
  padding: 20px;
  line-height: 1.6;
  color: #333;
}

.advice-header {
  text-align: center;
  margin-bottom: 20px;
}

.advice-header h1 {
  font-size: 2rem;
  color: #4CAF50;
}

.advice-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Style des boxes */
.advice-box {
  position: relative;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.advice-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Icone dans chaque box */
.advice-icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: center;
}

/* Pseudo-éléments dynamiques */
.advice-box::before,
.advice-box::after {
  content: '';
  position: absolute;
  z-index: 0;
  background: #4CAF50;
  opacity: 0.1;
  transition: all 0.3s ease;
}

/* Effet dynamique */
.advice-box::before {
  top: 0;
  left: -50px;
  width: 100px;
  height: 100%;
  transform: rotate(45deg);
}

.advice-box::after {
  bottom: 0;
  right: -50px;
  width: 100px;
  height: 100%;
  transform: rotate(-45deg);
}

.advice-box:hover::before,
.advice-box:hover::after {
  opacity: 0.2;
  transform: scale(1.1) rotate(45deg);
}

/* Style des titres */
.advice-box h3 {
  color: #333;
  margin: 10px 0;
  position: relative;
  z-index: 1;
}

/* Texte dans les boxes */
.advice-box p,
.advice-box ul {
  margin: 0;
  position: relative;
  z-index: 1;
}

/* Footer */
.advice-footer {
  text-align: center;
  margin-top: 20px;
}

.advice-footer h3 {
  color: #4CAF50;
}

.advice-footer p {
  color: #666;
}
