
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

 

  .footerContainer {
    width: 100%;
    padding:60px 30px 100px;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    background: linear-gradient(to top, #4A919E, #212E53); /* Dégradé harmonieux */ /* Semi-transparent for better blur visibility */
    box-shadow: 0 -4px 8px  #4A919E;
    border-radius: 20px;
    margin-top: 0px;
   
    height: 250px;
    
  
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}



.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    color: #212E53;
    opacity: 1;
}

.footer
.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}


@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}


.copyright {
    width: 100%;
    color: #f2f2f2;
    height: 30px;
    display: flex;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    text-align: center;
    padding-left:600px;
    padding-top: 20px;
    
   
  }
  /*Footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 80px;
    background: linear-gradient(to top, #4A919E, #212E53); /* Dégradé harmonieux */ /* Semi-transparent for better blur visibility */
    box-shadow: 0 -4px 8px  #4A919E;
    border-radius: 20px;
  
  }
  