.event-page-container {
    padding: 20px;
    
    max-width: 75%; /* Limite la largeur de la page */
    margin: 0 auto; /* Centre la page horizontalement */
  }
  
  .event-page-title {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(4, 4, 83);
  }
  
  .event-intro {
    text-align: center;
    margin-bottom: 100px;
    font-size: 1rem;
    color: #555;
  }
  
  .event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }
  
  .event-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    display: flex; /* Utilisation de Flexbox */
    flex-direction: column; /* Alignement vertical des éléments */
    justify-content: space-between; /* Distribue l'espace pour positionner le bouton en bas */
    height: 100%; /* Permet à toutes les cartes d’avoir la même hauteur */
    margin-top: 15px;
   
  }
  
  .event-card:hover {
    transform: translateY(-5px);
  }
  
  .event-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .event-title {
    font-size: 1.5rem;
    margin: 10px;
    color: rgb(6, 6, 69);
  }
  
  .event-date,
  .event-location,
  .event-description {
    margin: 10px;
    color: #555;
  }
  
  .participate-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #052b53;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .participate-button:hover {
    background-color: #0056b3;
  }
  
  .toggle-button {
    
    display: block;
    
    background-color: #0c0d5f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: #1e337e;
  }
  

  .search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .toggle-button {
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #052b53;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-button:hover {
    background-color: #0056b3;
  }
  