.petitlogo {height: 150px; width: 250px;   }



/*Navbar*/


.barre { /*logo+navbar*/
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-top: 30px;
  padding: 0 35px;
  margin-left:0px;
  
}


.Navbarr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #212E53, #4A919E); /* Dégradé harmonieux */
  color: white;
  padding : 0;
  border-radius: 20px;
  width: 100%;
  height: 100px;
  
  margin-right: 250px;
}

.Navbarr td a,

.Navbarr td button {
  color: white; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.Navbarr td:hover {
  background-color:#212E53 ;border-radius: 20px; 
}

.Navbarr td {
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.Navbarr td:nth-of-type(6){background-color:#212E53;  border-radius: 20px; color: white; background-size:contain;}


/* Style pour le menu horizontal */
table {
  width: 100%;
}

.horizontal-item {
  padding: 10px;
  text-align: center;
}

.menu-icon {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}



/* Conteneur de l'icône ☰ et du menu déroulant */
.menu-container {
  position: relative; /* Positionnement relatif pour que le menu soit positionné par rapport à cet élément */
  display: inline-block; /* Assure que l'icône et le menu sont dans un flux cohérent */
}

/* Icône ☰ */
.menu-icon {
  cursor: pointer; /* Change le curseur sur l'icône */
}

/* Menu déroulant */
.vertical-menu {
  position: absolute; /* Positionne le menu par rapport à son conteneur parent */
  top: 100%; /* Place le menu directement sous l'icône */
  left: 0; /* Aligne le menu à gauche de l'icône */
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  opacity: 0; /* Menu caché par défaut */
  visibility: hidden; /* Menu caché par défaut */
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* Transition pour rendre le menu visible */
}

/* Lorsque le menu est visible */
.vertical-menu.show {
  opacity: 1; /* Menu visible */
  visibility: visible; /* Rendre visible */
  transition: opacity 0.3s ease; /* Transition fluide pour le menu */
}

